<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>zhihuTest</display-name>
  <listener>
    <display-name>aaa</display-name>
    <listener-class>com.neusoft.fileter.Request1</listener-class>
  </listener>
  <listener>
    <display-name>bbb</display-name>
    <listener-class>com.neusoft.fileter.Request2</listener-class>
  </listener>
  <filter>
    <filter-name>myfilter1</filter-name>
    <filter-class>com.neusoft.fileter.MytestFileter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>myfilter1</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>myfilter2</filter-name>
    <filter-class>com.neusoft.fileter.Mytestfileter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>myfilter2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>